# Contents

## 01 Set up

## 02 Merging orders datasets

## 03 Exporting to pickle file

### 01 Set up

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining the main project path
proj = r'C:\Users\bfd_6\Documents\Career Foundry Project\Course Part 2\A4 Python\Instacart Basket Analysis'

In [3]:
# Creating a data frame for the orders_products_prior dataset
df_ords_prior = pd.read_csv(os.path.join(proj, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [7]:
# Creating a data frame for the orders_wrangled
df_ords = pd.read_csv(os.path.join(proj, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

#### Getting Dimensions for the dataframes

In [4]:
df_ords_prior.shape

(32434489, 4)

In [5]:
df_ords_prior.describe().map(lambda x: f"{x:0.3f}")

           order_id    product_id add_to_cart_order     reordered
count  32434489.000  32434489.000      32434489.000  32434489.000
mean    1710748.519     25576.338             8.351         0.590
std      987300.696     14096.689             7.127         0.492
min           2.000         1.000             1.000         0.000
25%      855943.000     13530.000             3.000         0.000
50%     1711048.000     25256.000             6.000         1.000
75%     2565514.000     37935.000            11.000         1.000
max     3421083.000     49688.000           145.000         1.000

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Verifying df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [10]:
# Verifying df_ords
df_ords.shape

(3421083, 7)

### 02 Merging orders datasets

In [11]:
# Performing the merge
df_ords_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Verifying new merged dataframe
df_ords_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
# Verfiying the new merged dataframe.
df_ords_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### 03 Exporting to pickle file

In [14]:
df_ords_merged.to_pickle(os.path.join(proj, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))